<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
                background-color: #f4f4f4;
                margin: 0;
                padding: 0;
            }

            .email-header {
                background-color: black;
                display: flex;
                height: 200px;
                justify-content: center;
                align-items: center;
            }

            .email-body {
                padding: 20px
            }
        </style>
    </head>
    <body>
        <header class="email-header">
            <img src="/src/assets/grunt-logo-white.svg" width="200" height="100">
        </header>
        <div class="email-body">
            <h1>Réinitialisez votre mot de passe</h1>
            <p>Vous avez demandé un lien pour réinitialiser le mot de passe de votre compte. Veuillez cliquer sur le bouton ci dessous</p>
            <div>
                <a href="">Réinitialiser le mot de passe</a>
            </div>
            <p>Si vous n'avez pas fait cette demande, veuillez contacter l'administrateur ou <a href="mailto:me@v3nel.me">le développeur</a></p>
        </div>
        <footer>
            <a>&copy; 2025 Grünt, tout droits réservés</a>
        </footer>
    </body>
</html>